<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<!-- <h1>Produit d'id: <span th:text="${produit.id}" >2</span></h1>-->

<th:block th:oject="${produit}">
<h1 th:text="| Id: *{id} |"></h1><!-- les deux font la meme chose-->
<h1 th:text="| Marque: *{marque} |"></h1>
<h1 th:text="| Modele: *{modele} |"></h1>
<h1 th:text="| Prix: *{prix} |"></h1>
<h1 th:text="| En vente: *{enVente} |"></h1>
</th:block>

<p><a href="/produit">retour</a></p>

</body>
</html>